Dialogs

	<div data-role="page" id="mainpage">
		<div data-role="header" data-position="inline"></div>			
		<div data-role="content" data-theme="a">
			<div data-role="header"></div>
			  <div data-role="content">
			  	<a href="#dialog1" data-rel="dialog" data-transition="slidedown">
			  </div>
			</div>
		</div>
	</div>
		
	<div data-role="page" id="dialog1">
	  	<div data-role="header"></div>
	  	<div data-role="content">
	    	<!-- Dialog content goes here-->
	    	<a href="#mainpage"><input type="button" value="Save!"></a>
	  	</div>
	</div>


Panels

	<div data-role="page" id="mainpage">
		<div data-role="header" data-position="inline"></div>			
		<div data-role="content" data-theme="a">
			<div data-role="header"></div>
			  <div data-role="content">
			  	<a href="#mypanel"></a>
			  </div>
			</div>
		</div>
		<div data-role="panel" data-position="right" id="mypanel">
	    	<!-- Panel content goes here-->
			<a href="#vote" data-rel="close"><input type="button" value="Save!"></a>
		</div><!-- /panel -->
	</div>
		
	<div data-role="page" id="dialog1">
	  	<div data-role="header"></div>
	  	<div data-role="content">
	    	<!-- Dialog content goes here-->
	    	<a href="#mainpage"><input type="button" value="Save!"></a>
	  	</div>
	</div>


Sliders
	
	Simple slider
	<label for="sing-it-slider-1" style="text-align: center;">Sing It Score</label>
	<input type="range" name="sing-it-slider-1" id="sing-it-slider-1" data-highlight="true" min="0" max="10" value="5" step="1">

	
















