div {
	max-width: 30em;
	max-height: 50em;
}

.roundHeader {
	font-family: 'Ewert', cursive;
	text-align: center;
	font-size: 3em;
	line-spacing: 1em;
	margin: 0 0 0 0;
}

.teamfont {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 1.5em;
	margin: 0 0 .3em 0;
}

.dialog-photo {
	height: 13em;
	width: 13em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
}
.slimheight {
	line-height: 1.5em;
	margin-top: .05em;
	margin-bottom: .2em;
	padding-top: 0;
	padding-bottom: 0
}
.panelfont {
	font-family: 'Handlee', cursive;
}
input.ui-input-text.ui-slider-input {
	float: right;
}
.ui-slider-track {
	margin-left: 0.5em;
	margin-right: 3.5em;
}
.ui-progressbar-value {
   background: #C1272D;
}

/* Panel settings */
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, 
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
.ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, 
.ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push,
.ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
	right: 0;
	-webkit-transform: translate3d(-90%,0,0);
	-moz-transform: translate3d(-90%,0,0);
	transform: translate3d(-90%,0,0);
}
.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-right.ui-panel-dismiss-open {
	left: 90%;
	right: -90%;
}
.ui-panel-position-right {
	right: -90%;
}
.ui-panel {
	width: 90%;
}
.ui-panel-closed {
	width: 0%;
}